body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('p.jpg'); /* Replace 'background.jpg' with your image file path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    background-attachment: fixed;
}
